{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dashboardadmin.css' %}">
    <title>Dashboard Administrateur</title>


</head>
<body>

    <nav>

        <h2>Polytechnic University of Man </h2>

        <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Profil</a></li>
            <li><a href="#">Déconnexion</a></li>
        </ul>

    </nav>

    <h1 class="titre">
        Tableau de bord Administrateur
    </h1>

    <div class="container">

        <div class="card">
            <h3>Utilisateurs</h3>
            <p>Gérer les comptes utilisateurs.</p>
            <a href="#">Ouvrir</a>
        </div>

        <div class="card">
            <h3> Étudiants</h3>
            <p>Ajouter, modifier ou supprimer des étudiants.</p>
            <a href="#">Ouvrir</a>
        </div>

        <div class="card">
            <h3> Enseignants</h3>
            <p>Gestion des enseignants.</p>
            <a href="#">Ouvrir</a>
        </div>

        <div class="card">
            <h3> Matières</h3>
            <p>Gestion des matières.</p>
            <a href="#">Ouvrir</a>
        </div>

        <div class="card">
            <h3>Notes</h3>
            <p>Consulter les notes des étudiants.</p>
            <a href="#">Ouvrir</a>
        </div>

        <div class="card">
            <h3> Rapports</h3>
            <p>Statistiques et rapports.</p>
            <a href="#">Ouvrir</a>
        </div>

    </div>

</body>
</html>

