{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Admin</title>
    <link rel="stylesheet" href="{% static 'css/dashboardadmin.css' %}?v=1.1">
    {% comment %} ou que le cache du navigateur bloque la mise à jour. {% endcomment %}
</head>
<body>
    <!--Menu de navigation  de adminstrateur django  -->
    
   <div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="logo-apple"></ion-icon></span>
                    <span class="titre">The dashboard admin</span>
                </a>
            </li>

             <li>
                <a href="#">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="titre">Acces</span>
                </a>
            </li>
             <li>
                <a href="#">
                    <span class="icon"><ion-icon name="add-outline"></ion-icon></span>
                    <span class="titre">Ajouter</span>
                </a>
            </li>
             <li>
                <a href="#">
                    <span class="icon"><ion-icon name="trash-outline"></ion-icon></span>
                    <span class="titre">Supprimer</span>
                </a>
            </li>
             <li>
                <a href="#">
                    <span class="icon"><ion-icon name="card-outline"></ion-icon></span>
                    <span class="titre">Modifier</span>
                </a>
            </li>
               <li>
                <a href="#">
                    <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                    <span class="titre">Deconnexion</span>
                </a>
            </li>


        </ul>
   




    </div>


   </div> 

<script type="module" src="https://unpkg.com/ionicons@8.0.13/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@8.0.13/dist/ionicons/ionicons.js"></script>
</body>
</html>