
 *{
            margin:0;
            padding:0;
            box-sizing:border-box;
            font-family:Arial, Helvetica, sans-serif;
     
}

body {
            min-height: 100vh;
            overflow-x: hidden;
            
}
.container{
            position: relative;
            width: 100%;
            
}
.navigation{
            position: fixed;
            width: 300px;
            height: 100%;
            background-color: blue;
            transition: 0.5s;
            overflow: hidden;
            
    }
.navigation ul{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
       padding: 3px;
       margin: 10px;

}
.navigation ul li {
        position: relative;
        width: 100%;
        list-style: none;
         /* margin: 10px; */
         border-top-left-radius: 30px;
         border-bottom-left-radius: 30px;
      
}
.navigation ul li :hover{
        background-color: white;
      padding: 0Px 2px;
      /* border-radius: 3px; */
}
.navigation ul li a{
        text-decoration: none;
        display: block;
        width: 100%;
        display: flex;
        color: rgb(214, 193, 193);
}
.navigation ul li:nth-child(1){
   margin-bottom: 30px;

}
.navigation ul li :hover a .icon{
        position: relative;
        display: block;
        min-width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
}
.navigation ul li a .icon{
        position: relative;
        display: block;
        min-width: 60px;
        height: 60px;
        text-align: center;
}
.navigation ul li a .icon ion-icon{
        font-size: 1.1rem;
      
}
.navigation ul li a .titre {
        position: relative;
        display:  block;
        /* height: 60px;
        line-height: 60px;
        padding: 0 10px;
        text-align: start;
        white-space: nowrap;
        */


}

