<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h2>Bienvenue, Mr/Mme {{ request.user.first_name }} {{ request.user.last_name }} !</h2>

<p>
    Nous vous souhaitons la bienvenue sur votre tableau de bord. <br>
    Vous pouvez gérer vos classes, consulter vos élèves, enregistrer les notes,<br>
    suivre les absences et accéder à toutes les fonctionnalités qui vous sont dédiées.
    Excellente journée et bon enseignement ! <br>
</p>
</body>
</html>